
.Koronebut {
    position: fixed;
    z-index: 9999;

    background-color: white;
    color: black;

    border: none;
    border-radius: 2px;

    cursor: pointer;

    margin-right: 8px;

    transition: opacity 0.15s;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;

    vertical-align: top;
}

.Koronebut:hover {
    opacity: 0.8;
}

.Koronebut:active {
    opacity: 0.5;
}


.texto1 {
    margin-bottom: 50px;

    font-size: 14px;

    background-color: red;
    color: white;

    text-align: center;

    padding-top: 15px;
    padding-bottom: 15px;
}


.titulotexto {
    transform: translate(575px);

    font-family: sans-serif;
}


body {
    background-color: yellow;
}


.texto2 {
    transform: translate(575px);

    width: 200px;
}


.Koronelink {
    text-decoration: underline;
    cursor: pointer;
}

.Koronelink:hover {
    color: red;
}


.img1 {
    transform: translate(550px);
}

#contador {
    position: fixed;
    top: 20px;
    left: 20px;

    font-size: 30px;
    font-family: sans-serif;
}